@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-ExtraLight.woff') format('woff'), url('../fonts/Dosis-ExtraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Light.woff') format('woff'), url('../fonts/Dosis-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.woff') format('woff'), url('../fonts/Dosis-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Medium.woff') format('woff'), url('../fonts/Dosis-Medium.woff') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-SemiBold.woff') format('woff'), url('../fonts/Dosis-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Bold.woff') format('woff'), url('../fonts/Dosis-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-ExtraBold.woff') format('woff'), url('../fonts/Dosis-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

* {
    box-sizing: border-box;
    color: #000;
    font-family: 'Dosis';
    font-weight: 400;
}

#content {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #EAEEF8;
}


h1, h3, p {
    margin: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

*:not(input) {
    user-select: none;
}

.sidebar button:hover, .sidebar-btn:hover {
    background: rgba(0, 0, 0, 0.08);
}

button:active:not(:disabled, .option) {
    transform: scale(0.97);
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.cancel {
    background-color: #d9dbda;
    opacity: .8;
}

.cancel:hover {
    opacity: 1;
}

.submit {
    background-color: #4bd670;
    color: white;
}

/* SIDEBAR */

.sidebar-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show {
    opacity: 1;
    z-index: 2;
}

.sidebar-wrapper {
    position: relative;
    transition: all 0.3s, height 0s;
    margin-left: 30px;
    width: fit-content;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    gap: 40px;
    height: 95vh;
    border-radius: 30px;
    background: #CFD9EF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.sidebar-overlay .sidebar {
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}

.sidebar h3 {
    font-size: 24px;
}

.sidebar-closed {
    margin-left: -350px;
    margin-right: 70px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 30px 0 30px;
}

.sidebar-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 46px;
    left: 237px;
    transition: all 0.3s, transform 0s, background-color 0s;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    height: 40px;
    width: 50px;
}

.sidebar-overlay ~ .sidebar-btn {
    z-index: 2;
}

.standAlone {
    left: 35px
}

.sidebar-icon {
    background: center / contain no-repeat url('../icons/sidebar-svgrepo-com.svg');
    width: 37px;
    height: 46.25px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    width: 100%;
}

.sidebar-content > * {
    width: inherit;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add-task, .option, .add-project {
    display: flex;
    align-items: center;
    min-height: 45px;
    width: 90%;
    gap: 10px;
    padding: 0 5px;
    border-radius: 7px;
    font-size: 17px;
}

.option {
    transition: 0.2s;
}

.option.clicked {
    background: rgba(0, 0, 0, 0.08);
}

.add-task,
.add-project {
    justify-content: center;
    align-self: center;
}

.projects {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projects-header {
    padding: 0 30px;
    width: 100%;
}


.icon {
    width: 22px;
    height: 22px;
}

.add-task .icon,
.add-project .icon {
    background: no-repeat url('../icons/add-plus-svgrepo-com.svg');
}

.search .icon{
    background: no-repeat url('../icons/search-svgrepo-com.svg');
}

.today .icon {
    background: no-repeat url('../icons/today_24dp_FILL0_wght400_GRAD0_opsz24.svg')
}

.upcoming .icon {
    background: no-repeat url('../icons/event_upcoming_24dp_FILL0_wght400_GRAD0_opsz24.svg');
}

/* TASK DISPLAY */

.task-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.todo-header {
    margin: 0 0 30px;
    font-weight: 400;
}

.items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    position: relative;
    height: 100%;
    width: 85%;
    border-radius: 25px;
    padding: 25px 30px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4);
    background: #fff;
    z-index: 1;
}

.items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.items:empty::before {
    content: 'No tasks yet...';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: #fff;
    
}


/* NEW TASK FORM */

.modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.create-task {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    width: 500px;
    height: fit-content;
    padding: 10px 25px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    animation: showModal 0.2s;
    background: #fff;
}

.create-task * {
    color: black;
    outline: none;
    border: none;
}

.create-task > * {
    height: 45px;
    font-weight: 300;
}

.modal.close-modal {
    animation: closeModal 0.2s;
}

#task-name {
    font-size: 33px;
    font-weight: 600;
}

#description {
    font-weight: 300;
}

.modal button {
    width: 80px;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px;
    height: 60px;
}

.buttons::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 400px;
    background: rgba(0, 0, 0, 0.2);
}

#submit {
    background: #4bd670;
    color: white;
}

/* TASKS */
.task {
    display: flex;
    align-items: start;
    gap: 10px;
    transition: 0.25s;
}

.deleted {
    opacity: 0;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
}

.completed-indicator {
    opacity: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: url('../icons/checkmark-svgrepo-com.svg');
}

.checkbox:hover .completed-indicator {
    opacity: 1;
}

.completed-indicator.completed {
    animation: complete 0.4s;
    opacity: 1;
}

.task-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-detail {
    opacity: .5;
    font-size: .8em;
}

.task-project {
    font-weight: 500;
}

.actions {
    display: flex;
    gap: 25px;
    align-self: center;
    margin-left: auto;
}

.delete, .edit {
    cursor: pointer;
    opacity: 0;
}

:is(.task, .option):hover :is(.delete, .edit) {
    opacity: .4;
}

:is(.task, .option):hover :is(.delete, .edit):hover {
    opacity: 1;
}

.delete {
    width: 27px;
    height: 27px;
    background: url('../icons/delete-1-svgrepo-com.svg');
}

.edit {
    width: 23px;
    height: 23px;
    background: url('../icons/edit-3-svgrepo-com.svg');
}

/* EDIT PANE */
.edit-pane {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 15px;
    gap: 10px;

}

.edit-pane * {
    border: none;
    outline: none;
}

.edit-pane input {
    padding: 2.5px;
}

.edit-name {
    font-weight: 600;
    font-size: 20px;
}

.edit-description {
    font-weight: 300;
    font-size: 15px;
    opacity: .6;
}

.edit-date, .edit-project {
    opacity: .6;
}

.edit-buttons {
    display: flex;
    align-self: end;
    gap: 20px;
}


/** CONFIRM MODAL **/
.confirm-overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.confirm-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    height: fit-content;
    width: 450px;
    gap: 50px;
    border-radius: 20px;
    background-color: #fff;
}

.confirm-modal h1 {
    font-weight: 600;
}

.confirm-modal button {
    text-align: center;
    height: 40px;
    width: 80px;
}

.confirm-buttons {
    display: flex;
    gap: 70px;
}


.confirm {
    background-color: rgb(218, 68, 68);
    color: white;
}


.confirm:hover {
    background-color: rgb(175, 60, 60);
}

/* PROJECT MODAL */
.new-project * {
    border: none;
    outline: none;
}

.new-project {
    animation: showModal 0.2s;
    margin-top: 150px;
    padding: 15px 15px 5px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    gap: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background: #fff;
}

.project-name {
    font-size: 33px;
    font-weight: 600;
    line-height: 1;
}

/* PROJECT DISPLAY */
.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projects-list .actions{
    gap: 10px;
}

.project-header {
    font-weight: 600;
}

/* OVERDUE TASKS */
.task-group, .group-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown{
    width: 20px;
    height: 20px;
    background: url('../icons/dropdown-arrow-svgrepo-com.svg');
    margin-top: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.dropdown.clicked {
    transform: rotate(90deg);
}

.hide {
    display: none;
}

.task-group-header {
    display: flex;
    align-items: center;
}

.task-group-header h3 {
    font-weight: 500;
}

@keyframes showModal {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.75);
    }
}

@keyframes complete {
    0% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1);
    }
}