@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-ExtraLight.woff') format('woff'), url('../fonts/Dosis-ExtraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Light.woff') format('woff'), url('../fonts/Dosis-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.woff') format('woff'), url('../fonts/Dosis-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Medium.woff') format('woff'), url('../fonts/Dosis-Medium.woff') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-SemiBold.woff') format('woff'), url('../fonts/Dosis-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Bold.woff') format('woff'), url('../fonts/Dosis-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-ExtraBold.woff') format('woff'), url('../fonts/Dosis-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

* {
    box-sizing: border-box;
    color: #000;
    font-family: 'Dosis';
    font-weight: 300;
}

#content {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #EAEEF8;
}


h3, p {
    margin: 0;
}

button {
    background: none;
    border: none;
}

button:hover {
    background: rgba(0, 0, 0, 0.065);
    cursor: pointer;
}

button:active:not(:disabled) {
    transform: scale(0.97);
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* SIDEBAR */

.sidebar-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show {
    opacity: 1;
    z-index: 1;
}

.sidebar-wrapper {
    position: relative;
    transition: all 0.3s, height 0s;
    margin-left: 30px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    gap: 40px;
    height: 95vh;
    border-radius: 50px;
    background: #CFD9EF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
    overflow: hidden;
}

.sidebar-overlay .sidebar {
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}

.sidebar h3 {
    font-size: 24px;
}

.sidebar-closed {
    margin-left: -350px;
    margin-right: 70px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 30px 0 30px;
}

.sidebar-btn {
    position: absolute;
    top: 46px;
    left: 237px;
    transition: all 0.3s, transform 0s, background-color 0s;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.standAlone {
    left: 35px
}

.sidebar-icon {
    background: url('../icons/sidebar-svgrepo-com.svg');
    width: 40px;
    height: 40px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    width: 100%;
}

.sidebar-content > * {
    width: inherit;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add-task, .option, .add-project {
    display: flex;
    align-items: center;
    height: 45px;
    width: 90%;
    gap: 10px;
    padding: 0 5px;
    border-radius: 7px;
    font-size: 17px;
}

.add-task,
.add-project {
    justify-content: center;
    align-self: center;
}

.projects {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projects-header {
    padding: 0 30px;
    width: 100%;
}


.icon {
    width: 25px;
    height: 25px;
}

.add-task .icon,
.add-project .icon {
    background: no-repeat url('../icons/plus-sign-in-a-circle-svgrepo-com.svg');
}

.search .icon{
    background: no-repeat url('../icons/search_24dp_FILL0_wght400_GRAD0_opsz24.svg');
}

.today .icon {
    background: no-repeat url('../icons/today_24dp_FILL0_wght400_GRAD0_opsz24.svg')
}

.upcoming .icon {
    background: no-repeat url('../icons/event_upcoming_24dp_FILL0_wght400_GRAD0_opsz24.svg');
}

/* TASK DISPLAY */

.task-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.todo-header {
    margin: 0 0 30px;
    font-weight: 400;
}

.items {
    height: 100%;
    width: 85%;
    border-radius: 25px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4);
    background: #fff;
}

/* NEW TASK FORM */

.form-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.create-task {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    width: 500px;
    height: fit-content;
    padding: 10px 25px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    animation: showModal 0.2s;
    background: #fff;
}

.create-task * {
    color: black;
    outline: none;
    border: none;
}

.create-task > * {
    height: 45px;
    font-weight: 300;
}

.close-modal {
    animation: closeModal 0.2s;
}

#task-name {
    font-size: 33px;
    font-weight: 600;
}

#description {
    font-weight: 300;
}

form.create-task button {
    width: 80px;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px;
    height: 60px;
}

.buttons::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 400px;
    background: rgba(0, 0, 0, 0.2);
}

#cancel {
    background: #d9dbda;
    opacity: 0.8;
}

#cancel:hover {
    opacity: 1;
}

#submit {
    background: #4bd670;
    color: white;
}

@keyframes showModal {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.6);
    }
}